<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://fluidtypo3.org/schemas/fluid-6.2.0.xsd">
<head>
	<title>Template: DefaultTemplate</title>
</head>
<body>

<f:section name="Content">
	<!--[if lt IE 7]>
	<div class="col-xs-12">
		<p class="alert alert-info">
			<strong>INFO:</strong> You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		</p>
	</div>
	<![endif]-->
</f:section>

</body>
