{namespace w=OliverThiele\OtWebsite\ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://fluidtypo3.org/schemas/fluid-6.2.0.xsd">
<head>
	<title>Template: DefaultTemplate</title>
</head>
<body>

<f:layout name="DefaultLayout" />

<f:section name="Content">
	<div class="row row-offcanvas row-offcanvas-right">

		<div class="col-xs-12 col-sm-9">
			<p class="pull-right visible-xs">
				<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><w:translate id="toggle_navigation"/></button>
			</p>
			<div class="row">
				{content_0 -> f:format.raw()}
			</div>
		</div>

		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
			<f:cObject typoscriptObjectPath="lib.sidebarNav" />
			<aside>
			{content_2 -> f:format.raw()}
			</aside>
		</div>
	</div>
</f:section>

</body>
</html>
